{% assign repo_url = include.repository | split: '/' %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}" class="repo-link">
    <div class="repo-card shadow-sm border rounded p-3">
      <div class="d-flex align-items-center mb-1">
        <i class="fa-brands fa-github repo-icon"></i>
        <h4 class="repo-title mb-0">{{ repo_url[1] }}</h4>
      </div>
      <p class="repo-owner mb-0">{{ repo_url[0] }}</p>
    </div>
  </a>
</div>
